<header data-bs-theme="dark">
			<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
				<div class="container-fluid">
					<a class="navbar-brand" href="{{path ('home')}}">La Boutique Française</a>
					<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarCollapse">
						<ul class="navbar-nav me-auto mb-2 mb-md-0">
						{% for category in allCategories %}
							<li class="nav-item">
								<a class="nav-link active" aria-current="page" href="{{ path ('category', {slug : category.slug}) }}">Nos {{category.name}}</a>
							</li>
						{% endfor %}
						</ul>
						<div class="speed-menu">
						{% if app.user %}
							<a href="{{path ('account') }}" class="text-decoration-none">
							<i class="fa-solid fa-user fa-lg"></i>{{app.user.firstname}}
							</a>
							{% else %}
								<a href="{{path ('login') }}" class="text-decoration-none">
								<i class="fa-solid fa-user fa-lg"></i>
							</a>
							{% endif %}
							<a href="{{path ('cart') }}" class="text-decoration-none">
																<i class="fa-solid fa-cart-shopping fa-lg"></i>

								<span class="badge text-bg-light">{{fullCartQuantity}}</span>
							</a>
						</div>
					</div>
				</div>
			</nav>
		</header>
